# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Daniel\Documents\Durham College\Computer Programming and Analysis\Semester 3\OOP 3200\Labs\Java Labs\Lab 2\OOP3200-JavaLab2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
